@import url('https://fonts.googleapis.com/css?family=Oswald|Pacifico');

$color-blue: #006db5;
$color-dark: #181d21;
$color-lightgrey: #80858c;
$color-grey: #373f4b;

$primary-color: $color-blue;
$text-title-color: $color-lightgrey;

.font-oswald {
  font-family: 'Oswald', sans-serif;
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}

.parent {
  border: 2px solid $primary-color;
  color: $primary-color;
  padding: 20px;
}

.element {
  border: 1px dotted black;
  background: white;
  padding: 20px;
  color: black;
  position: absolute;
}




/* Alignment styles */

body, html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}