@import url('https://fonts.googleapis.com/css?family=Oswald|Pacifico');

$color-blue: #006db5;
$color-dark: #181d21;
$color-lightgrey: #80858c;
$color-grey: #373f4b;

$primary-color: $color-blue;
$text-title-color: $color-lightgrey;

.font-oswald {
  font-family: 'Oswald', sans-serif;
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}

.font-arial {
  font-family: 'Arial', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

html {
  background: black;
  font-family: 'Arial', sans-serif;
  font-size: 13px;
}

body {
  width: 948px;
  margin: auto;
  margin-bottom: 120px;
  color: white;
}

#banner {

}

.cls {
  clear: both;
}

#main-menu {
  background: white;
  color: $color-dark;

  ul {
    list-style-type: none;
  }

  li {
    line-height: 44px;
    float: left;
    padding: 0 15px;
    cursor: pointer;
    @extend .font-arial;
    position: relative;

    &.active, &:hover {
      background: $primary-color;
      color: white;
    }

    &:hover {
      .dropdown {
        display: block;
      }
    }

    & + li {
      border-left: 1px solid white;
    }

    .dropdown {
      position: absolute;
      background: white;
      top: 100%;
      left: 0;
      width: 230px;
      display: none;

      li {
        float: left;
        width: 200px;
        color: black;
      }
    }
  }
}

#slide {
  margin-top: 15px;
  background: $color-grey;
  padding: 15px;

  ul {
    margin: 0;
    list-style-type: none;

    li {
      float: left;
      width: 183px;
      text-align: center;

      img {
        border: 4px solid $color-dark;
      }
    }
  }
}

#body {
  margin-top: 15px;

  #left-side {
    width: 760px;
    float: left;
    background: $color-grey;

    .about-us {
      background: url("../img/haunted-house.png") no-repeat 50px 30px;
      background-size: 280px;
      padding: 30px 30px 30px 400px;

      h1 {
        font-size: 40px;
        font-style: italic;
        color: $color-blue;
      }

      p {
        color: $color-lightgrey;
        line-height: 1.5;
      }

      a {
        text-decoration: none;
        font-size: 18px;
        color: darkorange;

        &:hover {
          color: yellow;
        }
      }
    }
  }
}