@import url('https://fonts.googleapis.com/css?family=Oswald|Pacifico');

$color-blue: #006db5;
$color-dark: #181d21;
$color-lightgrey: #80858c;
$color-grey: #373f4b;

$primary-color: $color-blue;
$text-title-color: $color-lightgrey;

.font-oswald {
  font-family: 'Oswald', sans-serif;
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}

.font-arial {
  font-family: 'Arial', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

html {
  background: black;
}

body {
  width: 948px;
  margin: auto;
  margin-bottom: 120px;
}

#banner {

}

.cls {
  clear: both;
}

#main-menu {
  background: white;

  ul {
    list-style-type: none;
  }

  li {
    line-height: 44px;
    float: left;
    padding: 0 15px;
    cursor: pointer;
    @extend .font-arial;
    position: relative;

    &.active, &:hover {
      background: $primary-color;
      color: white;
    }

    &:hover {
      .dropdown {
        display: block;
      }
    }

    & + li {
      border-left: 1px solid white;
    }

    .dropdown {
      position: absolute;
      background: white;
      top: 100%;
      left: 0;
      width: 230px;
      display: none;

      li {
        float: left;
        width: 200px;
        color: black;
      }
    }
  }
}